In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
customers = pd.read_csv('BankChurners.csv',index_col='CLIENTNUM')
customers.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [4]:
customers.sort_index()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
708082083,Existing Customer,45,F,3,High School,Married,Less than $40K,Blue,36,4,...,3544.0,1661,1883.0,0.831,15149,111,0.734,0.469,0.000305,0.999690
708083283,Attrited Customer,58,M,0,Unknown,Single,$40K - $60K,Blue,45,3,...,3421.0,2517,904.0,0.992,992,21,0.400,0.736,0.988690,0.011310
708084558,Attrited Customer,46,M,3,Doctorate,Divorced,$80K - $120K,Blue,38,6,...,8258.0,1771,6487.0,0.000,1447,23,0.000,0.214,0.997800,0.002196
708085458,Existing Customer,34,F,2,Uneducated,Single,Less than $40K,Blue,24,6,...,1438.3,0,1438.3,0.827,3940,82,0.952,0.000,0.000117,0.999880
708086958,Existing Customer,49,F,2,Uneducated,Married,Unknown,Blue,41,3,...,3128.0,749,2379.0,0.598,4369,59,0.735,0.239,0.000207,0.999790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828288333,Existing Customer,50,M,0,Uneducated,Married,$60K - $80K,Blue,46,4,...,3640.0,659,2981.0,0.938,3756,70,0.842,0.181,0.000082,0.999920
828291858,Attrited Customer,38,M,3,College,Single,$60K - $80K,Blue,34,6,...,12050.0,1821,10229.0,0.630,2381,40,0.481,0.151,0.998080,0.001916
828294933,Attrited Customer,49,F,3,High School,Married,Less than $40K,Blue,45,3,...,2951.0,2437,514.0,0.765,2519,36,0.565,0.826,0.994850,0.005150
828298908,Existing Customer,54,M,4,Graduate,Married,$120K +,Blue,50,4,...,2872.0,2035,837.0,0.613,1770,47,0.741,0.709,0.000044,0.999960
828343083,Existing Customer,43,F,4,High School,Unknown,Less than $40K,Blue,39,3,...,2786.0,1793,993.0,0.803,3646,68,0.659,0.644,0.000308,0.999690

In [5]:
customers.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [8]:
# method to get the filter to stick
customers.sort_index(inplace=True)

In [9]:
customers.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
708082083,Existing Customer,45,F,3,High School,Married,Less than $40K,Blue,36,4,...,3544.0,1661,1883.0,0.831,15149,111,0.734,0.469,0.000305,0.999690
708083283,Attrited Customer,58,M,0,Unknown,Single,$40K - $60K,Blue,45,3,...,3421.0,2517,904.0,0.992,992,21,0.400,0.736,0.988690,0.011310
708084558,Attrited Customer,46,M,3,Doctorate,Divorced,$80K - $120K,Blue,38,6,...,8258.0,1771,6487.0,0.000,1447,23,0.000,0.214,0.997800,0.002196
708085458,Existing Customer,34,F,2,Uneducated,Single,Less than $40K,Blue,24,6,...,1438.3,0,1438.3,0.827,3940,82,0.952,0.000,0.000117,0.999880
708086958,Existing Customer,49,F,2,Uneducated,Married,Unknown,Blue,41,3,...,3128.0,749,2379.0,0.598,4369,59,0.735,0.239,0.000207,0.999790

In [10]:
type(customers)

pandas.core.frame.DataFrame

In [11]:
# two ways to select columns
# The "dot" way
gend = customers.Gender

# The "dictionary" way
gend = customers['Gender']

In [13]:
type(gend)
# Converting changes from dataframe to series, and you lose functionality
# A series is a unidimensional array indexed by the index you chose
# Consider it an array in Panda

pandas.core.series.Series

In [15]:
firstlines = customers.loc[708082083:708084558, 'Gender':'Education_Level']
type[firstlines]
# loc = location - select multiple lines or ranges in lists
# Note that Pandas is between = for range

type[          Gender  Dependent_count Education_Level
CLIENTNUM
708082083      F                3     High School
708083283      M                0         Unknown
708084558      M                3       Doctorate]

In [16]:
phds = customers[customers.Education_Level=='Doctorate']
# Filter to only where customer education level is equal to doctorate

In [17]:
phds

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
708084558,Attrited Customer,46,M,3,Doctorate,Divorced,$80K - $120K,Blue,38,6,...,8258.0,1771,6487.0,0.000,1447,23,0.000,0.214,0.997800,0.002196
708153558,Existing Customer,46,M,5,Doctorate,Divorced,$120K +,Blue,31,1,...,34516.0,1802,32714.0,0.871,7936,101,0.485,0.052,0.000170,0.999830
708249708,Existing Customer,48,F,1,Doctorate,Married,Less than $40K,Blue,39,3,...,4844.0,1576,3268.0,0.809,1489,48,0.600,0.325,0.000411,0.999590
708291633,Existing Customer,33,F,2,Doctorate,Unknown,Unknown,Blue,21,3,...,4651.0,2499,2152.0,0.766,5097,79,0.795,0.537,0.000438,0.999560
708300483,Attrited Customer,66,F,0,Doctorate,Married,Unknown,Blue,56,5,...,7882.0,605,7277.0,1.052,704,16,0.143,0.077,0.997800,0.002197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819202533,Existing Customer,57,M,1,Doctorate,Married,$80K - $120K,Blue,52,3,...,10378.0,1540,8838.0,0.547,1306,32,0.280,0.148,0.000260,0.999740
819979458,Existing Customer,35,F,3,Doctorate,Married,Less than $40K,Blue,30,5,...,3976.0,1789,2187.0,0.931,4419,75,0.829,0.450,0.000171,0.999830
821889858,Attrited Customer,50,F,1,Doctorate,Single,Unknown,Blue,46,6,...,1970.0,1477,493.0,0.662,2493,44,0.571,0.750,0.997990,0.002009
823624158,Existing Customer,53,F,2,Doctorate,Single,Unknown,Blue,49,3,...,4500.0,0,4500.0,0.761,4579,78,0.814,0.000,0.000165,0.999840
824915208,Existing Customer,44,F,3,Doctorate,Married,Unknown,Blue,40,2,...,7212.0,1008,6204.0,0.727,5169,82,0.745,0.140,0.000050,0.999950

In [18]:
type(phds)

pandas.core.frame.DataFrame

In [21]:
youngphds = customers[(customers.Customer_Age<35) & (customers.Education_Level == 'Doctorate')]
youngphds

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
708291633,Existing Customer,33,F,2,Doctorate,Unknown,Unknown,Blue,21,3,...,4651.0,2499,2152.0,0.766,5097,79,0.795,0.537,0.000438,0.99956
710929233,Existing Customer,33,F,2,Doctorate,Single,Less than $40K,Blue,36,5,...,2800.0,1559,1241.0,0.598,4253,83,0.694,0.557,0.000277,0.99972
712112733,Existing Customer,33,M,2,Doctorate,Single,$40K - $60K,Blue,25,5,...,9371.0,1541,7830.0,0.781,2518,67,0.971,0.164,0.000165,0.99984
712620858,Existing Customer,34,F,4,Doctorate,Married,Unknown,Blue,36,1,...,7744.0,1804,5940.0,0.942,4572,60,0.935,0.233,0.000173,0.99983
715321983,Existing Customer,33,F,2,Doctorate,Married,$40K - $60K,Blue,36,4,...,2748.0,1867,881.0,0.816,4314,75,1.027,0.679,0.000099,0.99990
719623083,Existing Customer,33,F,1,Doctorate,Unknown,Less than $40K,Gold,24,2,...,15987.0,1992,13995.0,0.739,8302,81,0.841,0.125,0.000281,0.99972
719826333,Existing Customer,34,F,2,Doctorate,Single,Less than $40K,Blue,13,5,...,1438.3,0,1438.3,0.946,2557,67,0.763,0.000,0.000080,0.99992
736893108,Existing Customer,33,F,2,Doctorate,Single,Less than $40K,Blue,26,2,...,1438.3,0,1438.3,0.613,4196,87,0.891,0.000,0.000260,0.99974
779134458,Attrited Customer,33,F,1,Doctorate,Single,Less than $40K,Blue,15,1,...,3709.0,1180,2529.0,0.645,8130,74,0.897,0.318,0.992120,0.00788
780199233,Existing Customer,33,M,2,Doctorate,Single,$120K +,Blue,23,5,...,14914.0,1102,13812.0,0.823,4478,87,0.673,0.074,0.000048,0.99995
789050883,Existing Customer,33,F,2,Doctorate,Single,Unknown,Blue,21,4,...,5297.0,0,5297.0,0.779,2655,62,0.550,0.000,0.000747,0.99925
789952158,Existing Customer,34,F,1,Doctorate,Married,Unknown,Blue,25,4,...,2318.0,2069,249.0,1.399,2689,57,0.781,0.893,0.000411,0.99959
799731033,Existing Customer,34,F,2,Doctorate,Single,Less than $40K,Blue,28,3,...,1438.3,0,1438.3,0.892,3044,91,0.896,0.000,0.000260,0.99974
808750458,Existing Customer,32,M,1,Doctorate,Single,$60K - $80K,Blue,27,5,...,10029.0,606,9423.0,0.727,2192,58,0.657,0.060,0.000411,0.99959
818248383,Existing Customer,33,M,2,Doctorate,Married,$60K - $80K,Blue,28,3,...,4049.0,0,4049.0,0.898,1742,35,1.500,0.000,0.000438,0.99956

In [25]:
# For "or" statements, use the pipe command "|"
# For "not" statements, use the tilda command "~"
saneppl = customers[~(customers.Education_Level=='Doctorate')]
saneppl

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
708082083,Existing Customer,45,F,3,High School,Married,Less than $40K,Blue,36,4,...,3544.0,1661,1883.0,0.831,15149,111,0.734,0.469,0.000305,0.999690
708083283,Attrited Customer,58,M,0,Unknown,Single,$40K - $60K,Blue,45,3,...,3421.0,2517,904.0,0.992,992,21,0.400,0.736,0.988690,0.011310
708085458,Existing Customer,34,F,2,Uneducated,Single,Less than $40K,Blue,24,6,...,1438.3,0,1438.3,0.827,3940,82,0.952,0.000,0.000117,0.999880
708086958,Existing Customer,49,F,2,Uneducated,Married,Unknown,Blue,41,3,...,3128.0,749,2379.0,0.598,4369,59,0.735,0.239,0.000207,0.999790
708095133,Existing Customer,43,M,4,Unknown,Unknown,$120K +,Blue,34,5,...,33304.0,1833,31471.0,0.428,1448,29,0.381,0.055,0.000131,0.999870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828288333,Existing Customer,50,M,0,Uneducated,Married,$60K - $80K,Blue,46,4,...,3640.0,659,2981.0,0.938,3756,70,0.842,0.181,0.000082,0.999920
828291858,Attrited Customer,38,M,3,College,Single,$60K - $80K,Blue,34,6,...,12050.0,1821,10229.0,0.630,2381,40,0.481,0.151,0.998080,0.001916
828294933,Attrited Customer,49,F,3,High School,Married,Less than $40K,Blue,45,3,...,2951.0,2437,514.0,0.765,2519,36,0.565,0.826,0.994850,0.005150
828298908,Existing Customer,54,M,4,Graduate,Married,$120K +,Blue,50,4,...,2872.0,2035,837.0,0.613,1770,47,0.741,0.709,0.000044,0.999960
828343083,Existing Customer,43,F,4,High School,Unknown,Less than $40K,Blue,39,3,...,2786.0,1793,993.0,0.803,3646,68,0.659,0.644,0.000308,0.999690

In [26]:
saneppl.drop(828343083)
# drops last customer, but is not permanent. must use "inplace=True"
# saneppl.drop(828343083, inplace=True)
# Remove from saneppl, but will stay in the customer database

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
708082083,Existing Customer,45,F,3,High School,Married,Less than $40K,Blue,36,4,...,3544.0,1661,1883.0,0.831,15149,111,0.734,0.469,0.000305,0.999690
708083283,Attrited Customer,58,M,0,Unknown,Single,$40K - $60K,Blue,45,3,...,3421.0,2517,904.0,0.992,992,21,0.400,0.736,0.988690,0.011310
708085458,Existing Customer,34,F,2,Uneducated,Single,Less than $40K,Blue,24,6,...,1438.3,0,1438.3,0.827,3940,82,0.952,0.000,0.000117,0.999880
708086958,Existing Customer,49,F,2,Uneducated,Married,Unknown,Blue,41,3,...,3128.0,749,2379.0,0.598,4369,59,0.735,0.239,0.000207,0.999790
708095133,Existing Customer,43,M,4,Unknown,Unknown,$120K +,Blue,34,5,...,33304.0,1833,31471.0,0.428,1448,29,0.381,0.055,0.000131,0.999870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828285858,Existing Customer,41,F,3,College,Married,Less than $40K,Blue,37,3,...,1438.3,765,673.3,0.644,4053,66,0.692,0.532,0.000056,0.999940
828288333,Existing Customer,50,M,0,Uneducated,Married,$60K - $80K,Blue,46,4,...,3640.0,659,2981.0,0.938,3756,70,0.842,0.181,0.000082,0.999920
828291858,Attrited Customer,38,M,3,College,Single,$60K - $80K,Blue,34,6,...,12050.0,1821,10229.0,0.630,2381,40,0.481,0.151,0.998080,0.001916
828294933,Attrited Customer,49,F,3,High School,Married,Less than $40K,Blue,45,3,...,2951.0,2437,514.0,0.765,2519,36,0.565,0.826,0.994850,0.005150
828298908,Existing Customer,54,M,4,Graduate,Married,$120K +,Blue,50,4,...,2872.0,2035,837.0,0.613,1770,47,0.741,0.709,0.000044,0.999960

In [30]:
customers.columns

Index(['Attrition_Flag', 'Customer_Age', 'Gender', 'Dependent_count',
       'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category',
       'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

In [33]:
customers.drop(customers.columns[21],axis=1,inplace=True)
# need axis = 1 because data frame has two axis

In [34]:
customers.columns

Index(['Attrition_Flag', 'Customer_Age', 'Gender', 'Dependent_count',
       'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category',
       'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1'],
      dtype='object')